.navbar{
    border: 1px solid whitesmoke;
    padding-bottom: 10px;
}

.navbar > ul{
    display: flex;
    padding-left: 55px;
    text-decoration: none;
    margin-top: 10px;
    
} 
 ul>li{
    list-style: none;
    text-decoration: none;
 }
 

